[submodule "external-modules/Document-Module"]
	path = external-modules/Document-Module
	url = https://github.com/fortitudoinc/Document-Module
[submodule "external-modules/patientlist2.6"]
	path = external-modules/patientlist2.6
	url = https://github.com/fortitudoinc/patientlist2.6
[submodule "external-modules/openmrs-module-telemedicine-consult"]
	path = external-modules/openmrs-module-telemedicine-consult
	url = https://github.com/CKWC/openmrs-module-telemedicine-consult
[submodule "external-modules/email"]
	path = external-modules/email
	url = https://github.com/fortitudoinc/email
[submodule "mobile-gateway"]
	path = mobile-gateway
	url = https://github.com/fortitudoinc/openmrs-contrib-telemedicine-proxy
[submodule "external-modules/openmrs-branding"]
	path = external-modules/openmrs-branding
	url = https://github.com/fortitudoinc/openmrs-branding
