# MySQL options
export MYSQL_ROOT_PASSWORD=password
export MYSQL_DATABASE=openmrs
export BACKUPS_PATH=/home/ubuntu/backups

# OpenMRS options
export DB_DATABASE=openmrs
export DB_USERNAME=root
export DB_PASSWORD=password
export DB_CREATE_TABLES=true
export MODULE_WEB_ADMIN=false
export OPENMRS_ADMIN_PASSWORD=CustomPassword123

# Backup options
export BACKUP_PATH=/home/ubuntu/backups
export BACKUP_RETENTION=5